:root{
  --mainBlue:#0455BF;
  --lightBlue:#4184BF;
  --mainDark:#094173;
  --mainWhite:#F2F2F2;
  --skyblue:#84C1D9
}

body{
  font-family: 'Lato', sans-serif;
  background: var(--skyblue) !important;
  color: var(--mainDark) !important;
}

.text-title{
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainDark);
}

.text-bright{
  color:var(--mainWhite);
}